body{

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
background: #1A1A2E;
margin-top:120px;

}

#compliment
{
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;

  color: #E7E7E7;
  padding:5px;
  color:white;
  background-color: #0f3460;
  border-radius: 24px;



}
.Datetime
{
  margin-left: 25%;
}

.date
{
  font-family: Bungee Inline;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 43px;

color: #E94560;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.time
{
  font-family: Bungee Hairline;
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 100px;

  color: #FFFFFF;

  mix-blend-mode: normal;
}
.message
{
  margin-top:20px;
  font-family: IBM Plex Mono;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 15px;

color: #E7E7E7;
padding:5px;
color:white;
background-color: #0f3460;
border-radius: 24px;
width:300px;

}
.message2
{
  margin-left: 55%;
}
#search
{


  margin-top:20px;
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  outline: none;
  padding:5px;
  color:white;
  background-color: #e94560;
  border:none;
  border-radius: 24px;
  width:300px;



}
.container
{ margin-top: 50px;
  display:flex;
  flex-direction: column;
  margin-left:25%;

}
.searchbar
{
  border: 5px solid green;
  width:300px;
}
::placeholder
{
  color:white;
  opacity: 0.4;
}
